# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
.gradle/
build/
*.apk
*.ap_
*.dex
*.class

# iOS
Pods/
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/

# Docker
*.pid
*.log
docker-compose.override.yml
